@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@source '../../../../';

html {
  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
}

body {
  font-family: Montserrat, sans-serif;
  scrollbar-gutter: stable both-edges;
}

html[style*='overflow: hidden'],
body[style*='overflow: hidden'],
html[data-scroll-locked],
body[data-scroll-locked],
html.with-scroll-bars-hidden,
body.with-scroll-bars-hidden {
  padding-right: var(--removed-body-scroll-bar-size, 0px) !important;
  margin-right: 0 !important;
}

.page-enter-from {
  opacity: 0;
  transform: translateX(15px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-out;
}

.page-leave-to {
  opacity: 0;
  transform: translateX(-15px);
}
