# Nuxt dev/build outputs
.output
.data
.nuxt
.nuxtrc
.nitro
.cache
dist
.netlify

# Test outputs
test-results
playwright-report

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify
